body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: Staatliches;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0e1621;
    color: lightgrey;
    height: 100vh;
    font-size: 24px;
}

.title {
    font-size: 80px;
    text-shadow: -7px 7px 2px black;
    outline: cornflowerblue;
    margin-bottom: 20px;

}

.form {
    margin-top: 20px;
    display: flex;
}

input {
    text-indent: 5px;
    margin: 10px;
    outline: none;
    background: inherit;
    border: 1px solid cornflowerblue;
    border-radius: 3px;
    padding: 9px 3px;
    color: inherit;
}

.btn {
    margin: 0 auto;
    width: 150px;
    padding: 9px 3px;
    text-align: center;
    background: #17212b;
    border-radius: 3px;
    transition: background .2s;

}
.btn:hover {
    cursor: pointer;
    background: #232e3c;
    transition: background .2s;
}
